

/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 4% 2%; }
    h1 {font-size: 175%;}


}



/* Small tablets to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    h1 {font-size: 150%;}

}





/* Small phones to small tablets: from 481 to 480px */
@media only screen and (max-width: 767px) {
    html, body {font-size: 32px;}
    h1 {font-size: 100%;}
}

@media only screen and (max-width: 683px) {
    img {
        width: 250px;
        height: 250px;}
}

@media only screen and (max-width: 579px) {
    img {
        width: 200px;
        height: 200px;}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    html, body {font-size: 25px;}
    img {
        width: 180px;
        height: 180px;}
}

@media only screen and (max-width: 433px) {
    img {
        width: 150px;
        height: 150px;}
}

@media only screen and (max-width: 371px) {
    img {
        width: 270px;
        height: 270px;}
}
